## Módulo 2 Python para a Análise de Dados

In [1]:
# Importando as bibliotecas pandas e numpy
import pandas as pd
import numpy as np

In [2]:
# Importando o data frame (df)

df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [3]:
# Imprimindo o resultado do data frame (df)
df

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [4]:
# Exibindo os tipos de dados do data frame
df.dtypes

datetime              object
rec_id                 int64
season                 int64
year                   int64
month                  int64
hour                   int64
is_holiday             int64
weekday                int64
is_workingday          int64
weather_condition      int64
temp                 float64
atemp                float64
humidity             float64
windspeed            float64
casual                 int64
registered             int64
total_count            int64
dtype: object

In [5]:
# Alterar o tipo de dado da data (datetime)
df['datetime'] = pd.to_datetime(df['datetime'])

In [6]:
# Exibindo os tipos de dado
df.dtypes

datetime             datetime64[ns]
rec_id                        int64
season                        int64
year                          int64
month                         int64
hour                          int64
is_holiday                    int64
weekday                       int64
is_workingday                 int64
weather_condition             int64
temp                        float64
atemp                       float64
humidity                    float64
windspeed                   float64
casual                        int64
registered                    int64
total_count                   int64
dtype: object

In [7]:
# Utilizando o metodo describe para gerar vários dados estatisticos de resumo de uma só vez
df.describe()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [8]:
# Qual o tamanho desse dataset?
# Utilizando o metodo 'count()' para contar o taltal de registros na tabela
df.datetime.count()

17379

In [9]:
# Qual a média da coluna windspeed?
# Utilizando o método 'mean()' para saber a media do campo windspeed
df.windspeed.mean()

0.19009760630646177

In [10]:
# Qual a média da coluna temp?
# Utilizando o método 'mean()' para saber a media do campo temp
df.temp.mean()

0.4969871684216583

In [11]:
#  Quantos registros existem para o ano de 2011?
# Selecionando o ano igual a 0, após isso, fazendo a contagem deles
df[df.year == 0].year.count()

8645

In [12]:
# Quantos registros existem para o ano de 2012?
# Selecionando o ano igual a 1, após isso, fazendo a contagem deles
df[df.year == 1].year.count()

8734

In [13]:
# Quantas locações de bicicletas foram efetuadas em 2011?
# Selecionando o ano igual a 0, após isso fazendo a contategm de valores na coluna 'total_count'
df[df.year == 0].total_count.sum()

1243103

In [14]:
# Quantas locações de bicicletas foram efetuadas em 2012?
# Selecionando o ano igual a 1, após isso fazendo a contategm de valores na coluna 'total_count'
df[df.year == 1].total_count.sum()

2049576

In [15]:
# Qual estação do ano contém a maior média de locações de bicicletas?
""" 
a) Selecionando o campo 'total_count'                                    df['total_count']
b) Fazendo o agrupamento do total de alugueis por estação do ano        .groupby(df.season)
c) Fazendo do total de alugueis por estações                            .mean()
d) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=False) -- False coloca em ordem decrescente.
e) Exibindo somente o primeiro valor                                    .head(1)
"""
df['total_count'].groupby(df.season).mean().sort_values(ascending=False).head(1)

season
3    236.016237
Name: total_count, dtype: float64

In [16]:
# Qual estação do ano contém a menor média de locações de bicicletas?
""" 
a) Selecionando o campo 'total_count'                                    df['total_count']
b) Fazendo o agrupamento do total de alugueis por estação do ano        .groupby(df.season)
c) Fazendo do total de alugueis por estações                            .mean()
d) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=False) -- True coloca em ordem crescente.
e) Exibindo somente o primeiro valor                                    .head(1)
"""

df['total_count'].groupby(df.season).mean().sort_values(ascending=True).head(1)

season
1    111.114569
Name: total_count, dtype: float64

In [17]:
# Qual horário do dia contém a maior média de locações de bicicletas?
"""
a) Selecionando o campo 'total_count'                                    df['total_count']
b) Fazendo o agrupamento do total de alugueis por horario               .groupby(df.season)
c) Fazendo do total de alugueis por estações                            .mean()
d) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=False) -- False coloca em ordem decrescente.
e) Exibindo somente o primeiro valor                                    .head(1)
"""

df['total_count'].groupby(df.hour).mean().sort_values(ascending=False).head(1)

hour
17    461.452055
Name: total_count, dtype: float64

In [18]:
# Qual horário do dia contém a menor média de locações de bicicletas?
"""
a) Selecionando o campo 'total_count'                                    df['total_count']
b) Fazendo o agrupamento do total de alugueis por horario               .groupby(df.season)
c) Fazendo do total de alugueis por estações                            .mean()
d) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=Talse) -- True coloca em ordem crescente.
e) Exibindo somente o primeiro valor                                    .head(1)
"""

df['total_count'].groupby(df.hour).mean().sort_values(ascending=True).head(1)

hour
4    6.352941
Name: total_count, dtype: float64

In [19]:
# Que dia da semana contém a maior média de locações de bicicletas?
"""
a) Selecionando o campo 'total_count'                                    df['total_count']
b) Fazendo o agrupamento do total de alugueis por weekday               .groupby(df.season)
c) Fazendo do total de alugueis por estações                            .mean()
d) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=False) -- False coloca em ordem decrescente.
e) Exibindo somente o primeiro valor                                    .head(1)
"""

df['total_count'].groupby(df.weekday).mean().sort_values(ascending=False).head(1)

weekday
4    196.436665
Name: total_count, dtype: float64

In [20]:
# Que dia da semana contém a menor média de locações de bicicletas?
"""
a) Selecionando o campo 'total_count'                                    df['total_count']
b) Fazendo o agrupamento do total de alugueis por weekday               .groupby(df.season)
c) Fazendo do total de alugueis por estações                            .mean()
d) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=True) -- True coloca em ordem crescente.
e) Exibindo somente o primeiro valor                                    .head(1)
"""

df['total_count'].groupby(df.weekday).mean().sort_values(ascending=True).head(1)

weekday
0    177.468825
Name: total_count, dtype: float64

In [21]:
# Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?
"""
1ª Parte:
a) Selecionar o dia da semana igual a 3                                  df['weekday'] == 3
b) Apresentar os dados da semana 3 de todo data frame                    df[df['weekday'] == 3]
c) Exibir somente os campor 'hour' e 'total_count'                       df[df['weekday'] == 3][['hour', 'total_count']]
d) Agrupar o total de alugueis por horario                              .groupby(df.hour)
e) Fazer a media do total de alugueis por gropos de horarios            .mean()
f) criar uma nova variavel 'tbw3' para recer estas informações           tbw3 =

2ª Parte:
g) a) Selecionando o campo 'total_count'                                 df['total_count']
h) Fazendo o agrupamento do total de alugueis por horario 'hour'        .groupby(df.hour)
i) Fazendo do total de alugueis por estações                            .mean()
j) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=False) -- False coloca em ordem decrescente.
k) Exibindo somente o primeiro valor                                    .head(1)
"""

tbw3 = df[df['weekday'] == 3][['hour', 'total_count']].groupby(df.hour).mean()
tbw3['total_count'].groupby(df.hour).mean().sort_values(ascending=False).head(1)

hour
17    513.144231
Name: total_count, dtype: float64

In [22]:
# Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?
"""
1ª Parte:
a) Selecionar o dia da semana igual a 6                                  df['weekday'] == 6
b) Apresentar os dados da semana 3 de todo data frame                    df[df['weekday'] == 6]
c) Exibir somente os campor 'hour' e 'total_count'                       df[df['weekday'] == 6][['hour', 'total_count']]
d) Agrupar o total de alugueis por horario                              .groupby(df.hour)
e) Fazer a media do total de alugueis por gropos de horarios            .mean()
f) criar uma nova variavel 'tbw3' para recer estas informações           tbw6 =

2ª Parte:
g) a) Selecionando o campo 'total_count'                                 df['total_count']
h) Fazendo o agrupamento do total de alugueis por horario 'hour'        .groupby(df.hour)
i) Fazendo do total de alugueis por estações                            .mean()
j) Ordenando os valores do campo 'total_count' em ordem decrescente     .sort_values(ascending=False) -- False coloca em ordem decrescente.
k) Exibindo somente o primeiro valor                                    .head(1)
"""

tbw6 = df[df['weekday'] == 6][['hour', 'total_count']].groupby(df.hour).mean()
tbw6['total_count'].groupby(df.hour).mean().sort_values(ascending=False).head(1)

hour
13    385.371429
Name: total_count, dtype: float64